{% extends "base.html" %}
{% load static %}
{% block 404 %}
<body class="body counter-scroll">
    <!-- /#page -->
    <div id="wrapper">
        <div id="page" class="clearfix">
            <!-- Main Page Title -->
            <div class="tf-page-title mt-10">
                <div class="themesflat-container full">
                    <div class="page-title t-al-center">
                        <span>Save up to 15%</span>
                        <h1 class="main-title">404 Not Found</h1>
                    </div>
                </div>
            </div>
            <!-- End Page Title -->

            <div class="widget-error-404">
                <div class="themesflat-container">
                    <div class="error-404 t-al-center">
                        <div class="thumb-404">
                            <img src="{% static './assets/images/page/404.png' %}" alt="">
                        </div>
                        <div class="error-404-text">
                            <h3>Oops! Page Not Found</h3>
                            <p>The page you are looking for is not exist.</p>
                        </div>
                        <div class="btn-main">
                            <a href="{% url 'home' %}" class="button_main_inner">
                                <span>Back to Home</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
</body>
{% endblock 404 %}