{% extends "base.html" %}
{% load static %}
{% block blog %}
<body class="body counter-scroll">
    <!-- /#page -->
    <div id="wrapper">
        <div id="page" class="clearfix">
            <!-- Main Page Title -->
            <div class="tf-page-title mt-10">
                <div class="themesflat-container full">
                    <div class="page-title t-al-center">
                        <span>Save up to 15%</span>
                        <h1 class="main-title">Blog page</h1>
                    </div>
                </div>
            </div>
            <!-- End Page Title -->

            <!-- Content Blog -->
            <div class="flat-blog-list main-content">
                <div class="themesflat-container w1320">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="flat-blog">
                                <article class="entry format-standard">
                                    <div class="feature-post">
                                        <div class="category">
                                            <ul class="flex">
                                                <li>
                                                    <a href="#">Business</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <img src="{% static 'assets/images/blog/bl1.jpg' %}" alt="image">
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <div class="entry-meta">
                                            <span class="author line"><i class="icon-user"></i><a href="#">Mehedii
                                                    .Ha</a></span>
                                            <span class="comment line"><i class="icon-2"></i><a href="#">Coments
                                                    (03)</a></span>
                                            <span class="time line"><i class="icon-uniE971"></i><a href="#">3 min
                                                    Read</a></span>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="{% url 'blog-single' %}">The whimsically named Egg Canvas brainch </a>
                                        </h2>
                                        <p class="entry-des">There are many variations of passages of Lorem Ipsum
                                            available, but majority have suffered
                                            teration in some form, by injected humour, or randomised words which don't
                                            look even slight
                                            believable. If you are going to use a passage of Lorem Ipsum.</p>
                                        <div class="btn-read-more">
                                            <a class="more-link" href="{% url 'blog-single' %}">
                                                <span>Read MOre</span>
                                                <i class="icon-Path-90148"></i>
                                            </a>
                                        </div>

                                        <!-- /.entry-meta -->
                                    </div><!-- /.main-post -->
                                </article>
                                <article class="entry format-standard">
                                    <div class="feature-post">
                                        <div class="category">
                                            <ul class="flex">
                                                <li>
                                                    <a href="#">Business</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <img src="{% static 'assets/images/blog/bl2.jpg' %}" alt="image">
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <div class="entry-meta">
                                            <span class="author line"><i class="icon-user"></i><a href="#">Mehedii
                                                    .Ha</a></span>
                                            <span class="comment line"><i class="icon-2"></i><a href="#">Coments
                                                    (03)</a></span>
                                            <span class="time line"><i class="icon-uniE971"></i><a href="#">3 min
                                                    Read</a></span>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="{% url 'blog-single' %}">The whimsically named Egg Canvas brainch </a>
                                        </h2>
                                        <p class="entry-des">There are many variations of passages of Lorem Ipsum
                                            available, but majority have suffered
                                            teration in some form, by injected humour, or randomised words which don't
                                            look even slight
                                            believable. If you are going to use a passage of Lorem Ipsum.</p>
                                        <div class="btn-read-more">
                                            <a class="more-link" href="{% url 'blog-single' %}">
                                                <span>Read MOre</span>
                                                <i class="icon-Path-90148"></i>
                                            </a>
                                        </div>

                                        <!-- /.entry-meta -->
                                    </div><!-- /.main-post -->
                                </article>
                                <article class="entry format-standard">
                                    <div class="feature-post">
                                        <div class="category">
                                            <ul class="flex">
                                                <li>
                                                    <a href="#">Business</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <img src="{% static 'assets/images/blog/bl3.jpg' %}" alt="image">
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <div class="entry-meta">
                                            <span class="author line"><i class="icon-user"></i><a href="#">Mehedii
                                                    .Ha</a></span>
                                            <span class="comment line"><i class="icon-2"></i><a href="#">Coments
                                                    (03)</a></span>
                                            <span class="time line"><i class="icon-uniE971"></i><a href="#">3 min
                                                    Read</a></span>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="{% url 'blog-single' %}">The whimsically named Egg Canvas brainch </a>
                                        </h2>
                                        <p class="entry-des">There are many variations of passages of Lorem Ipsum
                                            available, but majority have suffered
                                            teration in some form, by injected humour, or randomised words which don't
                                            look even slight
                                            believable. If you are going to use a passage of Lorem Ipsum.</p>
                                        <div class="btn-read-more">
                                            <a class="more-link" href="{% url 'blog-single' %}">
                                                <span>Read MOre</span>
                                                <i class="icon-Path-90148"></i>
                                            </a>
                                        </div>

                                        <!-- /.entry-meta -->
                                    </div><!-- /.main-post -->
                                </article>
                            </div>
                            <div class="tf-pagination mt-60">
                                <a class="prev page-numbers" href="#">
                                    <i class="icon-3"></i>
                                </a>
                                <a class="page-numbers" href="#">1</a>
                                <a class="page-numbers active" href="#">2</a>
                                <a class="page-numbers" href="#">3</a>
                                <a class="page-numbers" href="#">...</a>
                                <a class="next page-numbers" href="#">
                                    <i class="icon--1"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4" >
                            <aside class="side-blog">
                                <div class="inner-side-bar pl-30">
                                    <div class="widget widget-user t-al-center">
                                        <div class="content-user">
                                            <img src="{% static 'assets/images/avatar/avt-blog.jpg' %}" alt="">
                                            <h4>Rosalina D. Willaim</h4>
                                            <span>Blogger/Photographer</span>
                                            <p>he whimsically named Egg Canvas is the design director and photographer
                                                in New York. Why the nam</p>
                                            <div class="social-blog-dt">
                                                <ul>
                                                    <li>
                                                        <a href=""><i class="icon-6"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="icon-4"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="icon-5"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="icon-7"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget widget-search ">
                                        <h3 class="widget-title">
                                            search here
                                        </h3>
                                        <form role="search" method="get" class="search-form" action="/">
                                            <label>
                                                <input type="search" value="" name="s" class="s"
                                                    placeholder="Search here...">
                                            </label>
                                            <button type="submit" class="search-submit"><i
                                                    class="icon-search-1"></i></button>
                                        </form>
                                    </div>
                                    <div class="widget widget-recent">
                                        <h3 class="widget-title ">
                                            search here
                                        </h3>
                                        <div class="recent-post-list">
                                            <div class="list-recent">
                                                <div class="recent-image">
                                                    <a href="#">
                                                        <img src="{% static 'assets/images/blog/1.jpg' %}" alt="Image">
                                                    </a>
                                                </div>
                                                <div class="recent-info">
                                                    <div class="meta">
                                                        <i class="icon-1"></i>
                                                        <span>Jan 23,2022</span>
                                                    </div>
                                                    <h4 class="title">
                                                        <a href="#">Budget Issues Force The Our To Become</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="list-recent">
                                                <div class="recent-image">
                                                    <a href="#">
                                                        <img src="{% static 'assets/images/blog/2.jpg' %}" alt="Image">
                                                    </a>
                                                </div>
                                                <div class="recent-info">
                                                    <div class="meta">
                                                        <i class="icon-1"></i>
                                                        <span>Jan 23,2022</span>
                                                    </div>
                                                    <h4 class="title">
                                                        <a href="#">The Best Products That Shape Fashion</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="list-recent">
                                                <div class="recent-image">
                                                    <a href="#">
                                                        <img src="{% static 'assets/images/blog/3.jpg' %}" alt="Image">
                                                    </a>
                                                </div>
                                                <div class="recent-info">
                                                    <div class="meta">
                                                        <i class="icon-1"></i>
                                                        <span>Jan 23,2022</span>
                                                    </div>
                                                    <h4 class="title">
                                                        <a href="#">The Best Products That Shape Fashion</a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget widget-categories">
                                        <h3 class="widget-title ">
                                            Catagories
                                        </h3>
                                        <ul>
                                            <li>
                                                <a href="#" class="category">
                                                    <span>Graphic Design</span>
                                                    <div class="number-category">03</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="category active">
                                                    <span>Web Development</span>
                                                    <div class="number-category">03</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="category">
                                                    <span>Digital Marketing</span>
                                                    <div class="number-category">03</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="category">
                                                    <span> UI/UX Development</span>
                                                    <div class="number-category">03</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget widget-tags">
                                        <h3 class="widget-title ">
                                            Catagories
                                        </h3>
                                        <div class="tags_cloud_inner">
                                            <a href="#">Design</a>
                                            <a href="#">marketing</a>
                                            <a href="#">search</a>
                                            <a href="#">branding</a>
                                            <a href="#">startup</a>
                                            <a href="#">tech</a>
                                            <a href="#" class="active">landing </a>
                                            <a href="#">coding</a>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Blog -->
</body>
{% endblock blog %}