{% extends "base.html" %}
{% load static %}
{% block dealer-details %}
<body class="body counter-scroll">
    <!-- /#page -->
    <div id="wrapper">
        <div id="page" class="clearfix">
           <!-- Main Page Title -->
            <div class="tf-page-title mt-10">
                <div class="themesflat-container full">
                    <div class="page-title t-al-center">
                        <span>Save up to 15%</span>
                        <h1 class="main-title">Dealer Profile</h1>
                    </div>
                </div>
            </div>
            <!-- End Page Title -->

            <div class="widget-dealer-single">
                <div class="themesflat-container">
                    <div class="dealer-single">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="wrap-property-car flex dealer-single-info-top">
                                    <div class="info-top-left">
                                        <span class="sub-title">Mini Cooper 3 Similar</span>
                                        <h2 class="dealer-heading">West Covins Motors</h2>
                                        <div class="dealer-address">
                                            <i class="icon-map-1-1"></i>
                                            <span>Ben 'N Nick's Bar Grill, 5612 College Ave, Oakland, California </span>
                                        </div>
                                    </div>
                                    <div class="info-top-right">
                                        <img src="{% static './assets/images/page/logo-vina.png' %}" alt="logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-60">
                            <div class="col-xl-9 col-md-12">
                                <div class="dealer-author">
                                    <div class="dealer-author-avatar">
                                        <img src="{% static './assets/images/page/dealer-detail.jpg' %}" alt="Image" title="Image">
                                    </div>
                                    <div class="dealer-author-content">
                                        <div class="dealer-author-item">
                                            <div class="dealer-author-icon">
                                                <i class="icon-Group2"></i>
                                            </div>
                                            <div class="dealer-content-info-box">
                                                <p class="label-dealer-content">Email Address</p>
                                                <a class="dealer-title" href="mailto:contact@motorx.com">
                                                    contact@motorx.com </a>
                                            </div>
                                        </div>
                                        <div class="dealer-author-item">
                                            <div class="dealer-author-icon">
                                                <i class="icon-Group-14"></i>
                                            </div>
                                            <div class="dealer-content-info-box">
                                                <p class="label-dealer-content">Phone number</p>
                                                <span class="dealer-title">302 456 9854 </span>
                                            </div>
                                        </div>
                                        <div class="dealer-author-item">
                                            <div class="dealer-author-icon">
                                                <i class="icon-map-1-1"></i>
                                            </div>
                                            <div class="dealer-content-info-box">
                                                <p class="label-dealer-content">Website</p>
                                                <a class="dealer-title" href="#" target="_blank">www.motorx.com </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dealer-description mb-60">
                                    <h3 class="dealer-title mb-25">Introduction</h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but majority have
                                        suffered teration in some form, by injected humour, or randomised
                                        words which don't look even slight believable. If you are going to use a passa
                                        In publishing and vfx graphic design, Lorem ipsum is a placeholder text commonly
                                        used to demonstrate the visual fo
                                        of a document or a typeface without relying on meaningful content. Lorem ipsum
                                        may be used as a placeholder before final copy is available.
                                    </p>
                                </div>
                                <div class="dealer-inventory listing-list-car-wrap">
                                    <form action="/" class="tf-my-listing-search">
                                        <div class="tab-listing-all">
                                            <h3 class="title">Dealer Inventory</h3>
                                            <div class="toolbar-list">
                                                <div class="group-select-recently">
                                                    <div class="nice-select" tabindex="0">
                                                        <span class="current">Recently Added</span>
                                                        <ul class="list">
                                                            <li data-value class="option selected">Recently Added</li>
                                                            <li data-value="new" class="option">New</li>
                                                            <li data-value="Recently Added" class="option">Recently
                                                                Added</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn-display-listing-grid active">
                                                        <i class="icon-th-list"></i>
                                                    </a>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn-display-listing-list">
                                                        <i class="icon-line-height"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="listing-grid-item">
                                        <div class="listing-item-image">
                                            <div class="hover-listing-image">
                                                <div class="wrap-hover-listing">
                                                    <div class="listing-item active" title="Lexus LC Hybrid 2024">
                                                        <div class="images">
                                                            <img src="{% static './assets/images/car-list/car8.jpg' %}"
                                                                class="swiper-image tfcl-light-gallery"
                                                                alt="images">
                                                        </div>
                                                    </div>
                                                    <div class="listing-item" title="Lexus LC Hybrid 2024">
                                                        <div class="images">
                                                            <img src="{% static './assets/images/car-list/car11.jpg' %}"
                                                                class="swiper-image lazy tfcl-light-gallery"
                                                                alt="images">
                                                        </div>
                                                    </div>
                                                    <div class="listing-item view-gallery"
                                                        title="Lexus LC Hybrid 2024">
                                                        <div class="images">
                                                            <img src="{% static './assets/images/car-list/car12.jpg' %}"
                                                                class="swiper-image tfcl-light-gallery"
                                                                alt="images">
                                                            <div class="overlay-limit">
                                                                <img src="{% static './assets/images/car-list/img.png' %}"
                                                                    class="icon-img" alt="icon-map">
                                                                <p>2 more photos</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bullet-hover-listing">
                                                        <div class="bl-item active"></div>
                                                        <div class="bl-item"></div>
                                                        <div class="bl-item"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="icon-favorite">
                                                <i class="icon-heart-1-1"></i>
                                            </a>
                                            <span class="feature">Featured</span>
                                        </div>
                                        <div class="listing-item-content">
                                            <div class="listing-top-content">
                                                <h6 class="title"><a href="#">Mercedez benz - c class</a></h6>
                                                <div class="review-wrap">
                                                    <div class="rating">
                                                        <i class="icon-Vector3"></i>
                                                        <i class="icon-Vector3"></i>
                                                        <i class="icon-Vector3"></i>
                                                        <i class="icon-Vector3"></i>
                                                        <i class="icon-Vector3"></i>
                                                    </div>
                                                    <span class="review">( 2 Reviews )</span>
                                                </div>
                                                <div class="description">
                                                    <ul>
                                                        <li class="listing-information fuel">
                                                            <i class="icon-gasoline-pump-1"></i>
                                                            <div class="inner">
                                                                <span>Fuel type</span>
                                                                <p>Petrol</p>
                                                            </div>
                                                        </li>
                                                        <li class="listing-information size-engine">
                                                            <i class="icon-Group1"></i>
                                                            <div class="inner">
                                                                <span>Mileage</span>
                                                                <p>90 k.m</p>
                                                            </div>
                                                        </li>
                                                        <li class="listing-information transmission">
                                                            <i class="icon-gearbox-1"></i>
                                                            <div class="inner">
                                                                <span>Transmission</span>
                                                                <p>Auto</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="list-controller">
                                                    <li>
                                                        <a href="#">
                                                            <i class="icon-heart-1-1"></i>
                                                        <span>Favorite</span>
                                                        </a>
                                                        
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="icon-shuffle-2-11"></i>
                                                            <span>Compare</span>
                                                        </a>
                                                        
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="bottom-price-wrap">
                                                <div class="price-wrap">
                                                    <p class="price">$489</p>
                                                    <p class="price-sale">$399</p>
                                                </div>
                                                <div class="btn-read-more">
                                                    <a class="more-link" href="{% url 'listing-details' %}">
                                                        <span>View details</span>
                                                        <i class="icon-arrow-right2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-12">
                                <div class="tf-user-dealer mb-60">
                                    <img src="{% static './assets/images/avatar/avt-review.jpg' %}" alt="">
                                    <div class="name">Rosalina D. Willaim</div>
                                    <p class="job">Webcost car Dealer</p>
                                    <div class="review d-flex">
                                        <div class="start">
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                            <i class="icon-Vector3"></i>
                                        </div>
                                        <p>(1 Review)</p>
                                    </div>
                                    <p class="des">he whimsically named Egg Canvas is the design director and
                                        photographer New York. Why the nam</p>
                                    <div class="social-blog-dt">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="icon-6"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon-4"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon-5"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon-7"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-main">
                                        <a href="#" class="button_main_inner">
                                            <span>Contact With Delear</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="tf-dealer-location mb-60">
                                    <h4 class="title-dealer-details">Dealer Location</h4>
                                    <div class="map3">
                                        <div id="map3"></div>
                                    </div>
                                </div>
                                <div class="tf-dealer-location mb-60">
                                    <h4 class="title-dealer-details">Dealer Location</h4>
                                    <form action="/" method="post" class="form-contact-admin" aria-label="Contact form">
                                        <div class="group-form">
                                            <input class="admin-form" aria-required="true" aria-invalid="false"
                                                placeholder="Your Name" value="" type="text">
                                            <i class="icon-user-1-1"></i>
                                        </div>
                                        <div class="group-form">
                                            <input class="admin-form" aria-required="true" aria-invalid="false"
                                                placeholder="Email" value="" type="email">
                                            <i class="icon-Group2"></i>
                                        </div>
                                        <div class="group-form">
                                            <input class="admin-form" aria-invalid="false" placeholder="Enter Phone"
                                                value="" type="text">
                                            <i class="icon-Group-14"></i>
                                        </div>
                                        <div class="group-form">
                                            <textarea class="admin-form" aria-invalid="false"></textarea>
                                            <i class="icon-edit-1"></i>
                                        </div>
                                        <button type="submit"> Send Message </button>
                                    </form>

                                </div>

                            </div>
                        </div>
                        <div class="row mb-60">
                            <div class="col-md-12 dealer-customer-review">
                                <div class="wrap-car-review wrap-style">
                                    <h4 class="title-dealer-details">Customer Review</h4>
                                    <div class="listing-customer-review">
                                        <div id="overall-rating-progress" class="progress">
                                            <svg class="progress-circle" width="187" height="186" viewBox="0 0 187 186"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M186 93C186 144.362 144.362 186 93 186C41.6375 186 0 144.362 0 93C0 41.6375 41.6375 0 93 0C144.362 0 186 41.6375 186 93ZM7.84935 93C7.84935 140.027 45.9726 178.151 93 178.151C140.027 178.151 178.151 140.027 178.151 93C178.151 45.9726 140.027 7.84935 93 7.84935C45.9726 7.84935 7.84935 45.9726 7.84935 93Z"
                                                    fill="#F6F6F6" />
                                                <path
                                                    d="M182.747 65.2706C189.087 85.458 188.32 107.192 180.572 126.887C172.824 146.582 158.559 163.063 140.128 173.61C121.698 184.157 100.204 188.141 79.1915 184.905C58.1789 181.668 38.903 171.404 24.5432 155.807C10.1834 140.209 1.59749 120.209 0.201677 99.105C-1.19414 78.0013 4.68351 57.0547 16.8651 39.7202C29.0468 22.3857 46.8047 9.69872 67.2099 3.75201C87.6151 -2.1947 109.449 -1.04598 129.109 7.0087L126.104 14.2665C108.103 6.89165 88.1118 5.83988 69.4288 11.2847C50.7459 16.7295 34.4867 28.3456 23.3332 44.2171C12.1798 60.0885 6.7982 79.2672 8.0762 98.5897C9.35421 117.912 17.2155 136.224 30.3633 150.506C43.5111 164.787 61.1601 174.184 80.3992 177.148C99.6382 180.111 119.318 176.463 136.193 166.806C153.068 157.149 166.129 142.06 173.223 124.027C180.317 105.994 181.019 86.0945 175.214 67.611L182.747 65.2706Z"
                                                    fill="#D01818" />
                                            </svg>

                                            <div class="progress-text" data-progress="0">
                                                <p>Overall Ratings</p>
                                                <h3 class="overall-rating-number">4.4</h3>
                                                <p>Out Of 5</p>
                                            </div>
                                        </div>
                                        <div class="overall-rating-detail">
                                            <div class="overall-rating-detail-item">
                                                <label class="overall-rating-detail-label">Comfort</label>
                                                <div class="content">
                                                    <div class="rating-info">
                                                        <span>Rating 4.8 </span>
                                                        <div class="overall-rating-detail-star">
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <span>5.0</span>
                                                        </div>
                                                    </div>
                                                    <div class=" bg-primary overall-rating-detail-progress"
                                                        role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="overall-rating-detail-item">
                                                <label class="overall-rating-detail-label">Interior Design</label>
                                                <div class="content">
                                                    <div class="rating-info">
                                                        <span>Rating 4.8 </span>
                                                        <div class="overall-rating-detail-star">
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <span>5.0</span>
                                                        </div>
                                                    </div>
                                                    <div class=" bg-primary overall-rating-detail-progress"
                                                        role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="overall-rating-detail-item">
                                                <label class="overall-rating-detail-label">Performance</label>
                                                <div class="content">
                                                    <div class="rating-info">
                                                        <span>Rating 4.8 </span>
                                                        <div class="overall-rating-detail-star">
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <span>5.0</span>
                                                        </div>
                                                    </div>
                                                    <div class=" bg-primary overall-rating-detail-progress"
                                                    role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                </div>
                                                </div>
                                            </div>
                                            <div class="overall-rating-detail-item">
                                                <label class="overall-rating-detail-label">Speed</label>
                                                <div class="content">
                                                    <div class="rating-info">
                                                        <span>Rating 4.8 </span>
                                                        <div class="overall-rating-detail-star">
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <i class="icon-Vector3"></i>
                                                            <span>5.0</span>
                                                        </div>
                                                    </div>
                                                    <div class=" bg-primary overall-rating-detail-progress"
                                                        role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="wrap-car-leave-a-reply">
                                    <h4 class="title-dealer-details">Write Review</h4>
                                    <form action="/" id="leave-a-reply">
                                        <div class="rating-wrap">
                                            <div class="rating-box">
                                                <label> Comfort </label>
                                                <div id="rating_comfort_service" class="star-rating-review">
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                </div>
                                            </div>
                                            <div class="rating-box">
                                                <label> Performance </label>
                                                <div id="rating_performance" class="star-rating-review">
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                </div>
                                            </div>
                                            <div class="rating-box">
                                                <label>
                                                    Interior Design </label>
                                                <div id="rating_interior_design" class="star-rating-review">
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                </div>
                                            </div>
                                            <div class="rating-box">
                                                <label> Speed </label>
                                                <div id="rating_speed" class="star-rating-review">
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                    <i class="icon-Vector3"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-comment">
                                            <div class="d-flex">
                                                <fieldset class="input-post-comment">
                                                    <input type="text" placeholder="First name">
                                                    <i class="icon-user-1-1"></i>
                                                </fieldset>
                                                <fieldset class="input-post-comment">
                                                    <input type="email" placeholder="Email Address">
                                                    <i class="icon-Group2"></i>
                                                </fieldset>
                                            </div>
                                            <fieldset class="input-post-comment">
                                                <textarea class="write-post-comment">Write Review</textarea>
                                                <i class="icon-edit-1"></i>
                                            </fieldset>
                                            <fieldset class="input-post-comment">
                                                <div class="radio">
                                                    <input id="check-comment" type="checkbox" name="check"
                                                        value="check">
                                                    <label for="check-comment">I agree to Terms & Conditions, Refund
                                                        Policy and Privacy Policy of Fabrilife.</label>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <button type="submit" class="button-post-comment">Post Comment</button>
                                            </fieldset>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
{% endblock dealer-details %}