{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Motorx</title>
    
    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/images/logo/logo.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/map.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css.map' %}">
</head>
<body>
    {% include "layouts/header.html" %}
    {% block 404 %}{% endblock 404 %}
    {% block addcart %}{% endblock addcart %}
    {% block blog-single %}{% endblock blog-single %}
    {% block blog %}{% endblock blog %}
    {% block car-list %}{% endblock car-list %}
    {% block contact-us %}{% endblock contact-us %}
    {% block dashboard %}{% endblock dashboard %}
    {% block dealer-details %}{% endblock dealer-details %}
    {% block home02 %}{% endblock home02 %}
    {% block home03 %}{% endblock home03 %}
    {% block home04 %}{% endblock home04 %}
    {% block home05 %}{% endblock home05 %}
    {% block home06 %}{% endblock home06 %}
    {% block home %}{% endblock home %}
    {% block listing-details %}{% endblock listing-details %}
    {% block my-inventory %}{% endblock my-inventory %}
    {% block seller-profile %}{% endblock seller-profile %}
    {% include "layouts/footer.html" %}


    <!-- Javascript -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper.js' %}"></script>
    <script src="{% static 'assets/js/jquery-countTo.js' %}"></script>
    <script src="{% static 'assets/js/nouislider.min.js' %}"></script>
    <script src="{% static 'assets/js/price-ranger.js' %}"></script>
    <script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>